*{/*utilizamos un selector universal para que afecte a todos por igual*/
  box-sizing: border-box;/*sirve para que  respete el ancho de los elementos bloque*/
  text-indent: 10px;
  height: 60px;
  font-size: 20px;
}

.yellow {
  background-color: #FFC300;
  margin: 0 ;
}

.black {
  background-color:#2E2D2C;
  color:white;
  margin-top: 10px;
  margin-bottom: 10px;

}
h1 {
  color: black ;
  margin: 0px;
  padding-top: 5px;

}
h2  {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;

}

/*#franja3{
  background-color:#FFC300;/*fondo de color
  padding-top: 5px;

}*/
