*{/*utilizamos un selector universal para que afecte a todos por igual*/
  box-sizing: border-box;/*sirve para que  respete el ancho de los elementos bloque*/
  height: 80px;
  font-size: 15px;
}

.yellow {
  background-color: #FFC300;
  margin: 10px ;
}

.black {
  background-color:#2E2D2C;
  color:white;
  margin: 10px ;

}
h1 {
  color: black ;
  margin: 10px;
  padding-top: 5px;

}
h2  {
  margin:  10px;
  padding-top: 5px;

}

/*#franja3{
  background-color:#FFC300;/*fondo de color
  padding-top: 5px;

}*/
